# deps
node_modules
.tanstack
.wrangler
coverage
dist
target
pkg

# dev deps
leftfook.yaml
biome.json

# test
*.test.ts
*.test.tsx
vitest.config.ts

# git
.git*
.gitignore

# other
AGENTS.md
.env.sample
