@import "tailwindcss";

@theme {
    --color-base-100: oklch(0.148 0.0045 280.5);
    --color-surface-100: oklch(1.003 0.0305 28.9);
    --color-primary-100: oklch(0.910 0.0277 28.9);
    --color-secondary-100: oklch(0.708 0.0215 28.9);
    --color-neon-100: oklch(0.875 0.1107 192.1);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

